<footer>
    <address>
        <a href="#" id="link-top" title=""><span>&#8593;</span></a>
        <br/>
        Piata Victoriei , Intrarea Doctor Iacob Felix Nr.2, Bucuresti 127650
        <br/>
        <a href="mailto:stoian.alin@gmail.com">Mail</a>
        <a href="tel:+40760047002">Telefon</a>
        <a href="https://api.whatsapp.com/send?phone=40712345678">Whatsapp</a>
        <br/>
        <a href="https://maps.app.goo.gl/qFBHHJmjkHCfrnZw5" target="_blank">Targ Piata Victoriei</a>
    </address>
    <p><small>Copyright &copy; <time datetime="2024-03-05"> 5 martie 2024</time> </small></p>
</footer>